header{
    background: rgba(12, 12, 12, 0.925);
    display: flex;

    justify-content: center;  
    
}

.esq{
    display: flex;
    justify-content:left;  
    padding :45px;
    outline:none;
}
aside{
    display: flex;
    justify-content:right;  
    
    
}